@model Storage.Web.Models.UserView

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<hr />
<div class="text-danger" align="center">
    <div class="my-p">
        <h3><strong>Error!</strong> You can not add book to User because User is alredy get 10 books</h3>
        <h3><strong>User: @Model.FirstName @Model.LastName</strong></h3>
        <br />
        <h4>
            @Html.ActionLink("Back to List", "Index")
        </h4>
    </div>
</div>
<br />
