@model Library.Web.Models.BookView

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<hr />
<div class="text-danger" align="center">
    <div class="my-p">
        <h3><strong>Error!</strong> You can not delete Book before one User using this Book</h3>
        <h3><strong>Book: @Html.DisplayFor(model => model.Name)</strong></h3>
        <br />
        <h4>
            @Html.ActionLink("Back to List", "Index")
        </h4>
    </div>
</div>
<br />
