<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="lib"
					publicKeyToken="5f46e2bb1d5053d7" culture="neutral"/>
				
				<codeBase version="1.0.0.0"
					href="C:\Users\Kappi\Source\Repos\KPI-Csharp-labs\KPI-Semester-6\lab1\libnew" />
			</dependentAssembly> 
		</assemblyBinding>
	</runtime>
</configuration>